<div class="col-md-6 offset-md-3">
  <h1>Book Catalogue</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.title }}</td>
        <td *ngIf="book.author">{{ book.author.name }}</td>
        <td><button type="button" class="btn btn-primary btn-sm" [routerLink]="['/book-details', book._id]">Show Detail</button></td>
      </tr>
    </tbody>
  </table>
</div>