<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button [ngClass]="{'navbar-toggler navbar-toggler-right': userName, 'hide-visibility': !userName}" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="https://10pearls.com/" target="_blank">
    <img id="logo" [src]="logo" >
  </a>

  <div [ngClass]="{'collapse navbar-collapse': userName, 'hide-visibility': !userName}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/books']" >Books Dashboard</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/book-create']">Add Book</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/author-create']">Add Author</a>
      </li>
    </ul>
     <ul class="navbar-nav navbar-right">
      <li *ngIf="userName" class="nav-item">
        <a class="nav-link">
          <span class="fa fa-user"></span> {{userName}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <span class="fa fa-sign-out"></span> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>