<div class="container">
<div class="col-md-6 offset-md-3">
  <h1>Add New Author</h1>
  <div class="row">
    <div class="col-md-12">
      <form novalidate (ngSubmit)="saveAuthor()" #authorForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" #name="ngModel" [(ngModel)]="author.name" name="name" minlength="3" required>
          <div *ngIf="name.errors?.required && name.touched" class="error">
            Name is required
          </div>
          <div *ngIf="name.errors?.minlength && name.touched" class="error">
            Name must be Minimum of 3 characters
          </div>
        </div>
        <div class="form-group">
          <label for="ranking">Ranking</label>
          <input type="number" class="form-control" #ranking="ngModel" [(ngModel)]="author.ranking" name="ranking" onkeypress="return event.charCode > 48" min="1" required>
           <div *ngIf="ranking.errors?.required && ranking.touched" class="error">
            Ranking is required
          </div>
        </div>
        <div class="form-group">
          <label for="totalBooks">Total Books</label>
          <input type="number" class="form-control" #totalBooks="ngModel" [(ngModel)]="author.total_books" name="totalBooks" required>
          <div *ngIf="totalBooks.errors?.required && totalBooks.touched" class="error">
            No. of Books required
          </div>
        </div>
        <div class="form-group">
          <label for="awards">No. Of Awards</label>
          <input type="number" class="form-control" #awards="ngModel" [(ngModel)]="author.awards" name="awards" onkeypress="return event.charCode > 48" min="1" required>
          <div *ngIf="awards.errors?.required && awards.touched" class="error">
            No. of Awards required
          </div>
        </div>
        <div class="form-group">
          <button type="button" [routerLink]="['/books']" class="btn btn-primary">
          <span class="glyphicon glyphicon-home"></span> Home
          </button>
          <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid">Save 
             <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i> 
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

